.streakBox {
  border-width: 2px;
  border-radius: 10rem;
  border-image: linear-gradient(
      230.09deg,
      rgb(250, 236, 200) 27.23%,
      rgb(174, 240, 255) 50.01%,
      rgb(178, 203, 245) 61.78%,
      rgb(195, 182, 246) 75.74%
    )
    1;
}
